[submodule "vim/autoload/pathogen.vim"]
	path = vim/autoload/pathogen.vim
	url = http://github.com/tpope/vim-pathogen
[submodule "vim/bundle/pyflakes-vim"]
	path = vim/bundle/pyflakes-vim
	url = https://github.com/kevinw/pyflakes-vim.git
